* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    /*border: 5px solid red;*/
    width: 100%;
    height: 90vh;
    background: url(img/bg-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center; /* Hlavna os*/
    align-items: center; /*Vedlajšia os*/


}

header img {
    width: 300px;
    transform: rotate(-20deg);
    animation: floating 3s alternate infinite linear;
}

header h1{
    font-size: 70px;
    color: #16210b;
    letter-spacing: 3px;
    text-align: center;
    text-shadow: 4px 6px 20px rgb(255, 255, 255) ;
    -webkit-text-stroke: white 0.2px;
}

/* keyFrames*/
@keyframes floating{
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-35px);
    }
}

